
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    {% comment %} <link rel="favicon" type="image/jpg" href="%PUBLIC_URL%favicon.ico"/>     {% endcomment %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Music Controller</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    />
    <link rel="stylesheet" type="text/css" href="{% static "css/index.scss" %}"
    />
  </head>
  <body>
    <div id="main">
      <div id="app"></div>
    </div>

    <script src="{% static "frontend/main.js" %}"></script>
  </body>
</html>